In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from matplotlib import colors
import seaborn as sns

In [2]:
users = pd.read_pickle("users_date_df.pkl")

In [3]:
users.loc[:, users.columns != 'user_id']

       day_1  day_2  day_3  day_4  day_5  day_6  day_7  day_8  day_9
0      False   True  False  False  False  False  False   True   True
1      False  False  False  False  False  False  False  False   True
2      False  False  False  False  False  False  False   True   True
3      False  False  False  False  False  False  False  False   True
4      False  False  False  False  False  False  False  False   True
...      ...    ...    ...    ...    ...    ...    ...    ...    ...
56099   True  False  False  False  False  False  False  False  False
56100   True  False  False  False  False  False  False  False  False
56101   True  False  False  False  False  False  False  False  False
56102   True  False  False  False  False  False  False  False  False
56103   True  False  False  False  False  False  False  False  False

[56104 rows x 9 columns]

In [5]:
#  users.apply(lambda s: s.value_counts(), axis=1).fillna(0)

In [7]:
m = users.mode(axis=1)[0]
df = users.assign(count=users.eq(m, axis=0).sum(axis=1), num=m)

In [8]:
df

,user_id,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,count,num
0,SlcW7YT835JSzh22o7zRCA==,False,True,False,False,False,False,False,True,True,6,False
1,NZidrSuPdqoG7RedrFakeA==,False,False,False,False,False,False,False,False,True,8,False
2,dLQImlfXMsgSub4OcfJpGg==,False,False,False,False,False,False,False,True,True,7,False
3,O/xo6mGsu7adcgxofe+MdQ==,False,False,False,False,False,False,False,False,True,8,False
4,qdl8iWQQhf5xNw4DrqvNtA==,False,False,False,False,False,False,False,False,True,8,False
...,...,...,...,...,...,...,...,...,...,...,...,...
56099,ZNneeZ3hY1GEPLAU0kC2yQ==,True,False,False,False,False,False,False,False,False,8,False
56100,eg80bfX1jucT+pujs8y+qg==,True,False,False,False,False,False,False,False,False,8,False
56101,HsFRUUNaKljl5R6DxXbgjA==,True,False,False,False,False,False,False,False,False,8,False
56102,dFDOO8n6Ncfn5OuVBTGwYQ==,True,False,False,False,False,False,False,False,False,8,False
56103,OVCXfcaxQtqLzmy1U8A7eg==,True,False,False,False,False,False,False,False,False,8,False

In [11]:
m=users.mode(axis=1)

In [13]:
df['num'].value_counts()

False    55839
True       265
Name: num, dtype: int64

In [17]:
df1 = users.assign(count=users.eq(False, axis=0).sum(axis=1), num_day_not_sale=False)

In [18]:
df1

,user_id,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,count,num_day_not_sale
0,SlcW7YT835JSzh22o7zRCA==,False,True,False,False,False,False,False,True,True,6,False
1,NZidrSuPdqoG7RedrFakeA==,False,False,False,False,False,False,False,False,True,8,False
2,dLQImlfXMsgSub4OcfJpGg==,False,False,False,False,False,False,False,True,True,7,False
3,O/xo6mGsu7adcgxofe+MdQ==,False,False,False,False,False,False,False,False,True,8,False
4,qdl8iWQQhf5xNw4DrqvNtA==,False,False,False,False,False,False,False,False,True,8,False
...,...,...,...,...,...,...,...,...,...,...,...,...
56099,ZNneeZ3hY1GEPLAU0kC2yQ==,True,False,False,False,False,False,False,False,False,8,False
56100,eg80bfX1jucT+pujs8y+qg==,True,False,False,False,False,False,False,False,False,8,False
56101,HsFRUUNaKljl5R6DxXbgjA==,True,False,False,False,False,False,False,False,False,8,False
56102,dFDOO8n6Ncfn5OuVBTGwYQ==,True,False,False,False,False,False,False,False,False,8,False
56103,OVCXfcaxQtqLzmy1U8A7eg==,True,False,False,False,False,False,False,False,False,8,False

In [16]:
df1['num'].value_counts()

False    56104
Name: num, dtype: int64

In [30]:
df1[df1['count']<=3].shape

(104, 12)

In [28]:
df1[df1['count']==df1['count'].max()].shape

(47743, 12)